@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;

  --background-color: #fbfbfb;
  --theme-dark: #000;
  --theme-lavender: #9f2dc2;

  --text-on-dark: #fff;
  --text-on-light: #1b1b1c;

  --text-family: "Inter", -system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --display-family: "Noto Serif", serif;

  font-size: 16px;

  --rainbow-animation-ratio: 0;
  --back-to-top-hide: 1;
  --mouse-x: 0.5;
  --mouse-y: 0.5;
}

html,
body {
  font-family: var(--text-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.34;

  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0rem;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-family);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 16px;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1rem;

  background-color: var(--theme-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  z-index: 10000;

  --height: 46px;
}

.nav-link {
  position: relative;
  height: 100%;
  display: inline-block;
  padding: 0 16px;
  color: var(--text-on-dark);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  text-decoration: underline;
}

.icon-button-group {
  position: fixed;
  top: 16px;
  right: 240px;
  display: flex;
  gap: 8px;
  z-index: 10000;
}

.contact-icon-button {
  width: 46px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--theme-dark);
  cursor: pointer;
  transition: scale 400ms;
}

.contact-icon-button:hover {
  scale: 1.08;
}

.contact-icon-button:active {
  scale: 0.9;
}

.image-icon {
  width: 24px;
  height: 24px;
}

.pointing-arrow {
  width: 40px;
  /* justify-self: flex-end; */
  justify-self: end;
  /* flex: 1; */
  /* margin-top: 10rem; */
  position: absolute;
  bottom: 4.8rem;
}

@keyframes rainbow-slide {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  0% {
    background-position: 0% 0%;
  }
}

.rainbow-animation-scrim {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* 🌀 Fade-up mask */
  -webkit-mask-image: var(--mask-gradient);
  mask-image: var(--mask-gradient);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #ffffff05;

  z-index: 9000;
  height: 11%;
  backdrop-filter: blur(24px);
  --mask-gradient: linear-gradient(to bottom, transparent 0%, white 70%);

  user-select: none;
  pointer-events: none;
}

.rainbow-animation-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(
    var(--start-height) + (var(--end-height) - var(--start-height)) *
      var(--rainbow-animation-ratio)
  );
  pointer-events: none;
  z-index: 9001;

  --start-height: 90%;
  --end-height: 12%;
  user-select: none;
  pointer-events: none;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  background-size: 200% 100%;
  background-position: left top;

  filter: saturate(1.2);

  animation: rainbow-slide 20s linear infinite;

  /* 🌀 Fade-up mask */
  -webkit-mask-image: var(--mask-gradient);
  mask-image: var(--mask-gradient);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  --mask-gradient: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.24) 80%,
    rgba(0, 0, 0, 0.34) 100%
  );
}

.intro-section {
  width: 100%;
  min-height: 600px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9002;
}

.giant-title,
.intro-text {
  font-family: var(--display-family);
  font-size: 10rem;
  font-style: italic;
  line-height: 0.96;
  color: var(--text-on-light);
  font-weight: calc(var(--mouse-x) * 350 + 100);
  transition: 100ms font-weight linear;
  will-change: font-weight;

  letter-spacing: -0.05em;

  cursor: default;
}

.intro-text {
  font-size: 4.2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.about-me-section {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  padding-top: 8rem;
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 1rem;
}

.two-column-layout > * {
  padding: 2rem;
}

.section-title {
  font-family: var(--display-family);
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  color: var(--text-on-light);
  letter-spacing: -0.2px;
  margin-bottom: 0;
  opacity: 0.6;
}

.section-title.quote {
  font-size: 3rem;
  opacity: 1;
  margin-bottom: 20rem;
  line-height: 1.2;
  font-weight: 300;
}

.section-text {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-on-light);
  font-weight: 400;
  max-width: 48ch;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.heart {
  width: 100%;
  height: auto;
  max-width: 500px;
  user-select: none;

  rotate: -10deg;
}

.text-appear {
  transition: 560ms ease-in-out;
}

.text-appear:not(.scrolled-to) {
  opacity: 0;
  transform: translateY(40px);
  transition: 560ms ease-in-out;
}

.avatar {
  position: absolute;
  width: 260px;
  aspect-ratio: 1;
  right: 10dvh;
  bottom: 10dvh;
  border-radius: 50%;
  z-index: 10;
}

.academic-section {
  width: 100%;
  padding: 2rem;
  grid-template-columns: 1.2fr 1fr;
  margin-top: 20rem;
}

.academic-section h1 {
  font-family: var(--display-family);
  font-size: 3rem;
  font-weight: 300;
  color: var(--text-on-light);
  font-style: italic;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.academic-section p {
  line-height: 1.6;
  margin-bottom: 4rem;
  opacity: 0.9;
}

img.image-spill {
  width: 100%;
  height: auto;
}

img.image-spill-50 {
  width: 50%;
}

img.image-spill-44 {
  width: 44%;
}

img.bw {
  filter: grayscale(1);
}

.column-align-end {
  align-items: flex-end;
  display: flex;
  gap: 16px;
}

.confession-section {
  padding: 2rem;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confession-section h3 {
  font-family: var(--display-family);
  font-size: 3rem;
  line-height: 1.3;
  color: var(--text-on-light);
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  max-width: 900px;
  text-align: center;
}

.text-bold {
  transition: 1000ms;
  transition-delay: 500ms;
}

.text-bold.scrolled-to {
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

.text-highlight {
  font-style: italic;
  padding: 0 1rem;
  transition: 500ms;
  transition-delay: 200ms;
}

.text-highlight.scrolled-to {
  color: var(--text-on-dark);
  background-color: var(--theme-dark);
}

.vertical-divide {
  width: 1.5px;
  background-color: var(--theme-dark);
  height: 800px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rock-and-flower {
  width: 500px;
  height: auto;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  font-family: var(--display-family);
  font-style: italic;
  line-height: 1.6;
}

.rock-and-flower img {
  width: 320px;
  margin-bottom: 3rem;
}

.rock-and-flower p {
  position: relative;
  z-index: 0;
}

.rock-and-flower p::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;
  filter: blur(10px);
  scale: 1.5;
}

.pre-section {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  min-height: 700px;
  position: relative;
  z-index: 2;
  flex-direction: column;
}

.floating-image {
  position: absolute;
  width: 250px;
  pointer-events: none;
  z-index: 1;
}

.rock-1 {
  width: 340px;
  left: 4%;
  top: 24%;
}

.rock-2 {
  width: 1100px;
  right: -28%;
  bottom: -28%;
  z-index: -1;
}

.rock-3 {
  width: 180px;
  left: 24%;
  top: 4%;
}

.lavender-1 {
  width: 80px;
  left: 20%;
  bottom: 24%;
}

.lavender-2 {
  width: 140px;
  right: 20%;
  top: 32%;
  z-index: -2;
}

.review-section {
  grid-template-columns: 0.6fr 1fr;
  padding-top: 10rem;
  gap: 0;
}

.section-extra-title {
  font-family: var(--display-family);
  font-size: 4rem;
  font-weight: 300;
  color: var(--text-on-light);
  font-style: italic;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.review-section h4 {
  font-family: var(--display-family);
  font-size: 2.8rem;
  font-weight: 300;
  color: var(--text-on-light);
  font-style: italic;
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.2;
  max-width: 30ch;
}

.review-section p {
  max-width: 60ch;
  line-height: 1.6;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.review-section > * {
  border-top: 1px #000 solid;
  transition: 700ms;
  transition-delay: 300ms;
}

.review-section > *:not(.scrolled-to) {
  opacity: 0.2;
  filter: grayscale(1);
}

.review-section img {
  width: 60%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  justify-self: flex-end;
  margin-bottom: 10rem;
}

.contacts-section img {
  width: 600px;
  margin: 4rem 0;
}

.button-group {
  display: flex;
  gap: 8px;
  transition: 800ms scale cubic-bezier(0.5, -0.41, 0.2, 1.35) 200ms,
    600ms translate cubic-bezier(0.5, -0.41, 0.2, 1.35) 200ms,
    opacity 600ms 200ms;
}

.button-group:not(.scrolled-to) {
  scale: 0.5 0.8;
  translate: 0 30px;
  opacity: 0;
}

.text-button {
  height: 48px;
  background-color: var(--theme-dark);
  color: var(--text-on-dark);
  padding: 0 1.5rem;
  font-size: 1rem;
  border-radius: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 300ms scale;
  cursor: pointer;
}

.text-button:hover {
  scale: 1.07;
}
.text-button:active {
  scale: 0.9;
}

.works-section {
  padding: 2rem;
  margin: 10rem 0;
}

.work-start,
.work-end {
  padding-left: 10dvw;
}

.work-title,
.work-role {
  font-family: var(--display-family);
  font-size: 9rem;
  font-weight: 200;
  font-style: italic;
  color: var(--text-on-light);
  letter-spacing: -0.05em;
  margin-bottom: 0;
  line-height: 1.2;
  margin-top: 0;
  transition: font-weight 60ms;
}

.work-title {
  line-height: 1;
  margin-bottom: 0.8rem;
}

.work-role {
  font-size: 4rem;
  margin-top: -0.2rem;
  opacity: 0.6;
  margin-bottom: 24rem;
}

.work-intro-info {
  max-width: 80ch;
  line-height: 1.6;
}

.work-body {
  width: 100%;
  margin-top: 6rem;
}

.work-image-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.4fr 0.8fr;
  gap: 8px;
}

.work-image {
  transition: 600ms;
  transition-delay: 200ms;
}

.work-image-gallery .work-image {
  height: 420px;
  object-fit: cover;
}

.work-image:not(.scrolled-to) {
  filter: grayscale(1);
  opacity: 0.5;
}

.work-main-thumbnail {
  width: 100%;
}

.text-emphasis {
  font-family: var(--display-family);
  font-style: italic;
}

.work-end {
  padding-left: 32dvw;
  margin-top: 4rem;
  font-size: 1.6rem;
  font-family: var(--display-family);
  line-height: 1.4;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 24rem;
}

.work-end p {
  max-width: 60ch;
}

.external-project-link {
  padding: 0 1.4rem;
  font-size: 1rem;
  font-family: var(--text-family);
  color: var(--text-on-dark);
  background-color: var(--theme-dark);
  font-style: normal;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
  display: inline-flex;
  border-radius: 24px;
  margin: 2rem 0;
  font-weight: 500;
}

.external-project-link:hover {
  scale: 1.1;
}
.external-project-link:active {
  scale: 0.9;
}

.back-to-top-button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 60px;
  padding: 16px;
  height: auto;
  z-index: 100000;
  background-color: var(--theme-dark);
  border-radius: 56px;
  cursor: pointer;
  transition: 400ms;

  translate: 0 calc(var(--back-to-top-hide) * 150%);
}

.back-to-top-button:hover {
  scale: 1.1;
}
.back-to-top-button:active {  
  scale: 0.9;
}

.back-to-top-button img {
  width: 100%;
}


.intern-section {
  padding: 2rem;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20rem;
}

.intern-section h3 {
  font-family: var(--display-family);
  font-size: 3rem;
  line-height: 1.3;
  color: var(--text-on-light);
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  max-width: 900px;
  text-align: center;
}

.stepping-image {
  width: 80%;
}


.text-lavender {
  color: var(--theme-lavender) !important;
}

.stats {
  position: relative;
  margin: 10rem 0 1rem 0;
  font-size: 1.2rem;
}

.stats-list {
  font-size: 3.4rem;
}

.stats-label {
  font-size: 1.6rem;
  opacity: 0.7;
}

.intern-logo {
  width: 100px;
  border-radius: 0.5rem;
  margin: 2rem 0 1rem 0;
}